<div class="text-center w-50 mx-auto mt-5">
    <h4 class="card-title">Press Fire! to start guessing the character's name</h4>
    <button (click)="nextGuess()"
            class="btn btn-warning mt-3">Fire!</button>
</div>
<div class="card w-50 mx-auto mt-5"
     [ngClass]="visibility">
    <img class="card-img-top"
         [src]="randomCharacterImg"
         [alt]="randomCharacterName">
    <div class="card-body">
        <p class="card-text">What's <span>{{randomCharacterGender}}</span> name?</p>
        <div class="row pl-3">
            <input type="text"
                   id="name_character"
                   placeholder="Enter the name">
            <button type="button"
                    class="btn btn-dark ml-3"
                    (click)="onGuess()">Check!</button>
        </div>
    </div>
    <h3 class="display-4 text-center my-3"
        id="guessing"
        [ngClass]="{'text-success': (guess), 'text-danger': (!guess)}"></h3>
    <p *ngIf="!guess"
       class="text-center">The correct answer is {{randomCharacterName}}</p>
</div>