<h3 class="my-5 py-3 font-weight-bold text-center mb-2">All characters</h3>
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item"
            [ngClass]="{'disabled': (currentPage === 1)}"><a class="page-link"
               (click)="onChangePage(false)"> &laquo; Previous</a></li>
        <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
        <li class="page-item"
            [ngClass]="{'disabled': (currentPage === numPages)}"><a class="page-link"
               (click)="onChangePage(true)">Next &raquo;</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
         *ngFor="let character of arrCharacters">
        <div class="card mb-3 border">
            <img [src]="character.image"
                 [alt]="character.name"
                 class="card-img-top">
            <div class="card-body">
                <h5 class="card-title pl-3">{{character.name | slice: 0:30}}</h5>
                <p class="card-text text-muted pl-3">{{character.species}}</p>
                <a class="btn btn-secondary btn-block mt-5"
                   [routerLink]="['/list/character/',character.id]">See more</a>
            </div>
        </div>
    </div>
</div>