<div class="card shadow-sm w-100 mt-5"
     *ngIf="character$ | async as character">
    <h5 class="card-header text-dark bg-warning">{{character.name}}</h5>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="character.image"
                 [alt]="character.name"
                 class="card-img img-fluid">
        </div>
        <div class="col-md-8 my-auto">
            <div class="card-body">
                <div class="row border-top py-3 mx-3">
                    <div class="text-muted col-3">Spice:</div>
                    <div class="col-9">{{character.species}}</div>
                </div>
                <div class="row border-top py-3 mx-3">
                    <div class="text-muted col-3">Gender:</div>
                    <div class="col-9">{{character.gender}}</div>
                </div>
                <div class="row border-top py-3 mx-3">
                    <div class="text-muted col-3">Status</div>
                    <div class="col-9"
                         [ngClass]="{'alert-success': (character.status ==='Alive'), 'alert-danger': (character.status === 'Dead')}">
                        {{character.status}}</div>
                </div>
                <div class="row border-top border-bottom py-3 mx-3">
                    <div class="text-muted col-3">Created:</div>
                    <div class="col-9">{{character.created | date}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-secondary mt-3 mb-3"
        (click)="goBack()">Go back</button>